body,
html {
	overflow-x:hidden;
	cursor: default;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}

iframe {
	border: none;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: black;
  z-index: 1001;
}

.preloader_image {
  position: relative;
  top: 20%;
  left: 35%;
  width: 500px;
  height: 500px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('assets/images/load.gif') no-repeat 50% 50%;
  background-position: center;
  background-size: 100%
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.my-send-msg-btn {
	color: #555;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	padding: 16px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 200px;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	text-transform: uppercase;
}

.my-send-msg-btn:hover,
.my-send-msg-btn:focus {
	background-color: #fff;
}
.scrollToTop {
	background-color: black;
	bottom: 60px;
	color: white;
	display: none;
	font-size: 30px;
	line-height: 50px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 55px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	height: 55px;
	border-radius: 10px;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: white;
}
#my-hero {
	background-image: url("assets/images/head-featured-bg.jpg");
	display: inline;
	float: left;
	width: 100%;
	position: relative;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#my-hero:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	opacity: 0.84;
	width: 100%;
	z-index: 10;
}

.my-hero-area {
	display: inline;
	float: left;
	position: relative;
	z-index: 99;
	width: 100%;
}

.my-hero-top {
	display: inline;
	float: left;
	width: 100%;
	padding: 25px 0;
}


.my-logo-area {
	display: inline;
	float: left;
	width: 50%;
}

.my-logo {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	font-weight: 700;
	background: black;
	max-width: 500px;
}

.my-logo span {
	display: inline-block;
	padding: 5px 15px;
	color: white;
}

.my-hero-top-info {
	display: inline;
	float: left;
	text-align: right;
	width: 50%;
}

.my-hero-top-info ul li:hover {
	border-bottom: 1px solid white;
	cursor: pointer;
}

.my-hero-top-info ul {
	margin-top: 14px;
}

.my-hero-top-info ul li {
	list-style: none;
	color: #fff;
	font-size: 18px;
	display: inline-block;
	padding: 0 8px;
	border-left: 1px solid #f8f8f8;
	font-size: 16px;
	float: right;
	transition: all 0.2s ease;
}

.my-hero-top-info ul li:last-child {
	border-left: none;
}

.my-menu-btn {
	position: fixed;
	right: 15%;
	top: 50px;
	color: #fff;
	font-size: 25px;
	border: 2px solid #fff;
	padding: 5px 14px;
	z-index: 999;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.my-menu-btn:hover,
.my-menu-btn:focus {
	border: 2px solid #fff;
}

.my-scrolldown-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.my-scrolldown {
	font-size: 40px;
	color: #fff;
	display: inline-block;
	margin-top: 50px;
}

.my-scrolldown:hover,
.my-scrolldown:focus {
	color: #fff;
}

.my-hero-featured-area {
	display: inline;
	float: left;
	padding: 60px 0 150px;
	width: 100%;
}

.my-hero-featured-content {
	display: inline;
	float: right;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.my-hero-featured-content h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 15px;
	font-family: 'Lobster', Georgia, Times, serif;
}


.my-hero-featured-content p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
}

.my-hero-featured-content h2 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	display: inline-block;
	font-family: 'Lobster', Georgia, Times, serif;
}

.my-book-now-btn {
	color: white;
	display: inline-block;
	border: 1px solid #fff;
	background-color:  #1E1919;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 25px;
	margin-top: 30px;
	transition: all 0.2s ease;
}

.my-book-now-btn:hover {
	background-color:  #332D2D
}

#git {
	margin-left: 5px; 
}

#my-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
	display: none;
}

.my-about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.my-about-left {
	display: inline;
	float: left;
	width: 100%;
}

.my-about-right {
	display: inline;
	float: left;
	margin-top: 25px;
	width: 130%;
	background-color: #fff;
	padding: 40px;
	margin-left: -175px;
	box-shadow: 3px 1px 18px -9px #000;
}

.my-about-right p {
	font-size: 15px;
}

#my-services {
	background-color: #fff;
	float: left;
	padding: 50px 0 100px;
	display: none;
	width: 100%;
}

.my-services-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.my-services-area h2 {
	color: #333;
	
}

.my-services-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.my-services-single {
	display: inline;
	float: left;
	width: 100%;
	padding: 0 5px;
}

.my-services-single-icon {
	border: 1px solid #ccc;
	font-size: 30px;
	display: inline-block;
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.my-services-single-icon i {
	transition: all 0.2s ease;
}

.my-services-single-icon i:hover {
	color: #1E1919;
	font-size: 35px;
}

.my-services-single h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.my-services-single p {
	font-size: 15px;
}


#my-video {
	background-image: url("assets/images/about-video-bg.png");
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	display: none;
	float: left;
	position: relative;
	width: 100%;
}

#my-video:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	opacity: 0.94;
	width: 100%;
	z-index: 10;
}

.my-video-area {
	display: inline;
	float: left;
	position: relative;
	padding: 100px 0;
	text-align: center;
	width: 100%;
	z-index: 99;
}

.my-video-area h2,
.my-video-area p {
	color: #fff;
}

.my-video-content {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 50px;
}

.my-video-content iframe {
	border: none;
}

#my-projects {
	background-color: #fff;
	float: left;
	padding: 100px 0;
	width: 100%;
	display: none;
}

.my-projects-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.my-projects-area h2 {
	color: #333;	
}

.my-title-content {
	padding: 0 10%;
}

.my-projects-content {
	display: inline;
	float: left;
	margin-top: 40px;
	width: 100%;
}

.my-projects-single {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
	margin: 15px 0;
	transition: all 0.2s ease;
}

.my-projects-single:hover {
	border: 2px solid #EE0707;
	box-shadow: 2px 8px 10px 1px black;
}

.my-projects-single-info {
	display: inline;
	float: left;
	position: relative;
	width: 100%;
	padding: 20px 10px;
}

.my-projects-single h3 {
	font-size: 22px;
	margin-bottom: 5px;
}

.my-projects-single h4 {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
}

.my-projects-single p {
	font-size: 15px;
}

.my-projects-single-info .my-book-now-btn {
	margin-top: 10px;
	font-size: 15px;
	text-transform: capitalize;
	float: right;
}

#my-reviews {
	background-image: url("assets/images/Top.png");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: none;
	float: left;
	position: relative;
	width: 100%;
}

#my-reviews::before {
	background: rgba(0,0,0,0.5);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
}

.my-reviews-area {
	display: inline;
	float: left;
	padding: 150px 0 175px;
	width: 100%;
}

.my-reviews-area h2 {
	color: #fff;
	text-align: center;
}

.my-reviews-block {
	display: inline;
	float: left;
	margin-top: 60px;
	width: 100%;
}

.my-reviews-slide li{
	list-style: none;
	text-align: center;
}

.my-client-quote {
	font-size: 35px;
	opacity: 0.7;
	margin-bottom: 25px;
}

.my-reviews-slide li p {
	color: #fff;
	padding: 0 10%;
}

.my-reviews-slide .my-rt-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 15px;
	display: inline-block;
}

.my-rt-name {
	margin-bottom: 5px;
	color: #fff;
	line-height: 1;
	margin-top: 25px;
	letter-spacing: 1px;
}

.my-rt-title {
	color: #fff;
	font-size: 14px;
}

.my-reviews-slide .slick-dots {
    bottom: -50px;
}

.my-reviews-slide .slick-dots li {
	background-color: #f8f8f8;
	height: 4px;	
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


.my-reviews-slide .slick-dots li button {
	display: none;
}

#my-skills {
	display: inline;
	width: 100%;
	float: left;
	padding: 10px 0;
	opacity: 0;
}

.my-skills-area h2 {
	display: inline;
	float: left;
	text-align: center;
	padding: 100px 18%;
	width: 100%;
}


#my-test {
	background-image: url("assets/images/programming-languages.png");
	background-position: center center;
	background-size: 1000px;
	background-attachment: fixed;
	background-color: #960000;
	float: left;
	width: 100%;
	display: none;
}

.my-test-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 100px 18%;
	width: 100%;
	color: white;
}

.my-test-area h2{
	background-color: orange;
}

.my-test-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.test-btn {
  background-color: transparent; 
  color: black; 
  border: 2px solid white;
  transition: all 0.4s ease;
  font-size: 20px;
  font-weight: 700;
}

.test-btn:hover {
  background-color: white;
}

#my-footer {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.my-footer-area {
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.my-footer-right {
	display: inline;
	float: left;
	width: 100%;
}

.my-social-media {
	display: inline;
	float: left;
	width: 100%;
}

.my-social-media a {
	border: 1px solid #19191a;
	border-radius: 6px;
	color: #19191a;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.my-social-media a:hover {
	color: #EE0707;
}

.my-footer-left {
	display: inline;
	float: left;
	width: 100%;
}

.my-copy-right {
	margin-bottom: 0;
	margin-top: 6px;
}

.my-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}




/* MEDIA */

@media (max-width: 1199px) {

	.preloader_image {
  top: 15%;
  left: 32%;

	.my-about-right {
		margin-top: 20px;
		width: 140%;
		padding: 25px;
		margin-left: -190px;
	}

	.my-clients-slider .slick-prev {
		left: -40px;
	}
		
}

@media (max-width: 991px) {

	.preloader_image {
  top: 15%;
  left: 30%;
}

	.my-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.my-hero-featured-content h1 {
		font-size: 35px;
	}

	.my-hero-featured-content h2 {
		color: #fff;
		font-size: 20px;
	}

	.my-about-left img {
		max-width: none;
		width: 115%;
	}

	.my-about-right {
		margin-top: 75px;
		width: 160%;
		padding: 20px;
		margin-left: -190px;
	}

	.my-about-right p {
		font-size: 14px;
	}

	.my-services-single {
		padding: 0;
	}

	.my-projects-single p {
		font-size: 14px;
	}

	.my-projects-single-info .my-book-now-btn {
		font-size: 14px;
	}

	.my-video-content iframe {
		width: 100%;
		height: 400px;
	}

	.my-clients-slider .slick-next {
		right: -20px;
	}

	.my-clients-slider .slick-prev {
		left: -20px;
	}

	.my-test-area {
		padding: 100px 10%;
	}
		
}

@media (max-width: 767px) {

.preloader_image {
  top: 15%;
  left: 20%;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
	
	.my-logo-area {
		width: 100%;
		text-align: center;
	}

	.my-hero-top-info {
		text-align: center;
		width: 100%;
	}

	.my-hero-top-info ul {
		margin-top: 20px;
	}

	.my-hero-top-info ul li {
		border-left: none;
		float: none;
		border-right: 1px solid #f8f8f8;
	}

	.my-hero-top-info ul li:last-child {
		border-left: 0;
		border-right: 0;
	}

	.my-hero-featured-area {
		padding: 0px 0 50px;
	}

	.my-about-area {
		padding: 50px 0;
	}

	.my-about-left img {
		max-width: 100%;
		width: auto;
	}

	.my-about-right {
		margin-top: 30px;
		width: 100%;
		padding: 0;
		margin-left: 0;
		box-shadow: none;
	}

	.my-about-right p {
		font-size: 15px;
	}

	#my-services {
		padding: 50px 0 50px;
	}

	.my-services-single {
		margin-bottom: 40px;
	}

	.my-title-content {
		padding: 0;
		font-size: 15px;
	}

	.my-video-area {
		padding: 80px 0;
	}

	.my-video-content {
		margin-top: 30px;
	}

	#my-projects {
		padding: 60px 0;
	}

	.my-projects-content {
		margin-top: 20px;
	}

	.my-projects-single-info {
		padding: 20px;
	}

	.my-reviews-area {
		padding: 100px 0 125px;
	}

	.my-clients-single {
		padding: 0 5px;
	}

	.my-test-area {
		padding: 50px 0%;
	}

	.my-social-media {
		margin-top: 15px;
	}			
		
}


@media (max-width: 640px){

	.preloader_image {
  top: 15%;
  left: 15%;
}
	
	.my-hero-featured-content h1 {
		font-size: 30px;
	}

	.my-hero-featured-content p {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.5px;
	}

	.my-hero-featured-content {
		margin-top: 30px;
	}

	#my-services {
		padding: 20px 0 50px;
	}

	.scrollToTop {
		font-size: 25px;
		line-height: 43px;
		width: 45px;
		height: 45px;
		border-radius: 8px;
	}						

}


@media (max-width: 480px) {

	.preloader_image {
  top: 15%;
  left: 5%;
}

	body {
		font-size: 14px;
	}

	.my-logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.my-hero-featured-content {
		margin-top: 20px;
	}

	.my-hero-featured-content h1 {
		font-size: 25px;
	}

	.my-hero-featured-content h2 {
		font-size: 14px;
	}

	.my-hero-featured-content p {
		font-size: 15px;
	}

	.my-scrolldown {
		font-size: 35px;
		margin-top: 40px;
	}
	
	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	.my-video-content iframe {
		width: 100%;
		height: 300px;
	}

	.my-reviews-area {
		padding: 50px 0 75px;
	}

	.my-reviews-block {
		margin-top: 30px;
	}

	.my-reviews-slide li p {
		padding: 0 5%;
		font-size: 15px;
	}

	.my-clients-slider .slick-prev, 
	.my-clients-slider .slick-next {
		height: 40px;
		width: 40px;
	}

	.my-clients-slider .slick-prev::before, 
	.my-clients-slider .slick-next::before {
		font-size: 18px;
	}

	.my-clients-slider .slick-next {
		right: 0;
	}

	.my-clients-slider .slick-prev {
		left: 0;
	}

	.my-callto-action-area h2 {
		font-size: 22px;
	}

	.my-book-now-btn {
		font-size: 16px;
	}

	.my-test-content {
		margin-top: 30px;
	}

	.my-social-media a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
					
	
}


@media (max-width: 360px) {

	.preloader_image {
  top: 15%;
  left: -12%;
}


	.my-hero-featured-area {
		padding: 0 0 30px;
	}

	.my-hero-top-info ul li {
		font-size: 14px;
	}

	h2 {
		font-size: 25px;
	}

	.my-video-content iframe {
		height: 250px;
	}

	.my-client-quote {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.my-rt-name {
		margin-bottom: 0px;
		margin-top: 15px;
	}

	.my-reviews-slide .my-rt-img {
		width: 80px;
		height: 80px;
		margin-top: 0px;
	}

	.my-reviews-slide .slick-dots {
		bottom: -40px;
	}

	.my-reviews-area {
		padding: 50px 0 55px;
	}

	.my-book-now-btn {
		font-size: 15px;
		margin-top: 20px;
	}

	.my-send-msg-btn {
		font-size: 14px;
		padding: 12px 18px;
		width: 170px;
	}

}



@media (max-width: 320px) {

	.preloader_image {
  top: 15%;
  left: -19%;
}
	
	h2 {
		font-size: 22px;
	}

	.my-hero-top-info ul {
		margin-top: 0px;
	}
	
	
}

